.container {
    background-color: rgb(159, 143, 255);
    gap: 2rem;
    min-height: 80vh;
}
.seccion  {
	background: #e0e0e0;
	padding: 2rem;
	border-radius: 8px;
	width: 300px;
}
@media (max-width: 600px) {
	.container {
		
	}
}
